*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
   
    
}
.header{
 margin-top: 0px;
background-position:center;
background-image:linear-gradient(rgba(31, 35, 49, 0.7),rgba(4,9,30,0.7)),url(./image/background\ boy.webp);
height: 100vh;
justify-content: space-between;
}

nav{

display: flex;
justify-content: space-between;
 width: 100%;
 
}


nav{
    align-items: center;
    position: sticky;

 
}
nav img{
    width: 100px;
    cursor: pointer;
    margin-left: 2px;


}

  nav.sticky{
      position: fixed;
      top: 0;
      left: 0; 
      padding: 10px 8%;
      background-color:rgba(75, 104, 224, 0.7);
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: padding 1s;
      
  }
  .bg-header{
      background-color: yellowgreen;
      width: 100%;
      display: flex;
      justify-content: space-between; 
      width: 100%;
      padding: 0 40px;
    
  }

.nav-links ul li{
    font-size: 62px;
    padding: 0 16px;
    margin-top: 0;
    display: inline-block;
    color: white;
    font-weight: normal;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    position: sticky;
    text-decoration: none;


}
.nav-links ul li a{
    text-decoration: none;
    color: #fff;
}
.nav-links ul li::after{
    content: '';
    width: 0px;
    height: 2px;
    background-color: coral;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
width: 100%;
}

.text-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color:white;
    justify-content: center;
    text-align: center;
    padding: 8px 12px;
    justify-content: center;
    margin-top: 100px;
    
}
.text-box h1{
    font-size: 62px;


}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
    padding: 8px 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.hero-btn{
    display:inline block;
    position: relative;
    text-decoration: none;
    border: 1px solid white;
    cursor: pointer;
    padding: 16px 30px;
    background: transparent;
    color: aliceblue;

}
.hero-btn:hover{
border: 1px solid coral;
    background: coral;
    transition: 0.5s;

    
}
.bi-list{
    display: none;

}
.bi-x-lg{
    display: none;
}
.services{
    align-items: center;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 12px 20px;
    /* background-image:radial-gradient(#fff, #9f96eb),url(./image/basketball.png); */

}
    
    
.services-2{
    align-items: center;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 12px 20px;
    background-image:radial-gradient(#fff, #68676e),url(./image/basketball.png);}


.services h1{
    text-align: center;
    font-size: 32px;
    color:whitesmoke;
    cursor: pointer;
    width: 100%;
    


}
.head-1{

    color:rgb(49, 44, 44);

    font-size: 24px;
    position: relative;
    text-align: center;
  
}
.youtube{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    flex-wrap: nowrap;
    margin-top: 50px;
    padding: 20px;
}
.card-2{
    top: 0;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: aliceblue;
    background-image: url(./image/images/photoswipe/default-skin.svg);
    


}
.nav-menue{
    text-decoration: none;
}
.header-card-1{
    text-align: center;
    font-size: 24px;
    background-color: black;
    color: #fff;
}
.text-box2 h1{
    font-size: 24px;

}
.text-box2{
    align-items: center;
    text-align: center;
    color:black;
    margin-top: 50px;
    transition: 1s;
    cursor: pointer;

    
    
    
}
.text-box2:hover{
    transform: translate(-5px);
}
.row{
    
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin-top: 0px;
background-image:url(./image/cartoon\ train.jpg);

 
    

}
.col-2{
    padding-left: 25px;
    padding-right: 25px;
    flex-basis: 50%;
    padding: 40px;
}
.col-2 img{
    transition: 1s;
    cursor: pointer;

    

}
.col-2 img:hover{
    transform: translate(-10px);
}







.footer{

    padding-top: 50px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  
  .footer--bg{
    background-color: #052c3d;
  }
  
  .footer__title{
    font-size: 30px;
    color: #fff;
    font-family: Roboto-Light;
    font-weight: bold;
    margin-bottom: px;
  }
  
  .footer__contact-information li{
    display: inline-block;
  }
  
  .footer__contact-information li a{
    font-size: 15px;
    color: #9ca1a3;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
  }
  
  .footer__contact-information .material-icons{
    font-size: 15px;
    padding-right: 10px;
    position: relative;
    top: 3px;
  }
  
  .footer .social-icon{
    margin-bottom: 20px;
    color: white;
  }
  
  .footer .social-icon ul li{
    padding-right: 20px;
    margin-top: 50px;
    display: inline;
  }
  
  .footer__paragraph{
    font-size: 14px;
    color: #fff;
    font-family: Roboto-Light;
  
  }

@media (max-width:576px) {

    .text-box h1{
        
        font-size: 24px;
    }
    .text-box p{
        font-size: 14px;
    }
.nav-links ul li{
    display: block;
    margin-top: 20px;
    font-size: 16px;
}
.nav img{
    width: 150px;
    display: block;
    justify-content: center;
}

.nav-links{
    display: block;
    position: absolute;
    width: 200px;
    top: 0;
    right:-200px ;
    background-color: #2e2758;
    height: 50vh;
    z-index: 2;
    text-align: left;
    padding: 30px;
    transition: 1s;
    
    
}

    

.bi-list{
    
    display: block;
    margin: 12px;
    cursor: pointer;
    font-size: 26px;
    color: #fff;
}
.bi-x-lg{
    
    display: block;
    margin: 12px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
}
.services{
    align-items: center;
    text-align: center;
    display: block;
    width: 100%;
    height: 20%;
    margin: 0 auto;
    padding: 12px 20px;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./image/basketball.png);


    
}


.head-1{
    font-weight: normal;
    font-size: 20px;
    display: block;
    position: relative;
    text-align: center;
    font-size: 16px;
}

.bg-header{
    background-color: yellowgreen;
      width: 100%;
      display: flex;
      justify-content: space-evenly; 
      padding: 0 30px;
      margin: 0 5px;
      
      font-size: 14px;
}
.services h1{
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: ghostwhite;
    align-items: center;
    display: block;
    

}
.text-box2{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;

}
.text-box2 h1{
    font-size: 16px;
}
.head-1{
    color:white;

    font-size: 22px;
    text-align: center;
    margin-top: 8px;

}
.head-1 h1{
    font-size: larger;
}
.card-2{
    top:0;
    
    display:block;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    overflow: visible;
    height: 100%;


}
.card-2 img{
    width: 150x;
}
nav img{
    
}


.services-2{
    align-items: center;
    text-align: center;
    display: block;
    width: 100%;
    height: 20%;
    margin: 0 auto;
    padding: 12px 20px;

}
.youtube{
    display: block;
    justify-content: center;
    padding: 10px; 
}
.you-container{
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #052c3d;
}

}